@import 'variable.styl'



    body,html
        overflow-x: hidden
        line-height: 1
        font-family: 'PingFang SC','STHeitiSC-Light','Helvetical-Light',arial,
        sans-serif,'Droid Sans Fallback'
        -webkit-tap-highlight-color: transparent//去除移动端原有点击样式，设置为透明
        background-color: $color-background
        font-size: 10px
        color: #ffffff
        touch-action: none
        -webkit-touch-callout:none; /*系统默认菜单被禁用*/
        -webkit-user-select:none;  /*webkit浏览器*/ 
        -khtml-user-select:none; /*早期浏览器*/ 
        -moz-user-select:none;/*火狐*/ 
        -ms-user-select:none;/*IE10*/ 
        user-select:none; 

        .icon-svg
            width: 1em; height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
         /* WebKit browsers */
 
       