        input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
            text-indent: 1.4rem
        } 
        /* Mozilla Firefox 4 to 18 */
        input:-moz-placeholder, textarea:-moz-placeholder { 
            text-indent: 1.4rem
        } 
        /* Mozilla Firefox 19+ */
        input::-moz-placeholder, textarea::-moz-placeholder { 
            text-indent: 1.4rem
        } 
        /* Internet Explorer 10+ */
        input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
            text-indent: 1.4rem
        }