//Color norm
$color-background = #222
$color-playbackground = rgba(0,0,0,0.95)
$color-background-d = rgba(0,0,0,0.3)
$color-background-highlight = #333333
$color-background-dialog = #666666
$color-them-icon = #fcd703


$color-text = #fff
$color-text-d = rgba(255,255,255,0.3)
$color-text-l = rgba(255,255,255,0.5)
$color-text-ll = rgba(255,255,255,0.6)
$color-text-lll = rgba(255,255,255,1)

//Font-size norm
$font-size-xs = 1rem
$font-size-s = 1.2rem
$font-size-m = 1.4rem
$font-size-l = 1.6rem
$font-size-xl = 1.8rem
$font-size-xxl = 2.2rem

