@import '~stylus/variable.styl'
    .ref
        position: absolute   
        left 0
        right 0
        top: 12rem
        bottom: 0
        overflow: hidden
    .hot
        width: 100%
        .title
            height 3rem
            line-height: 3rem
            font-size: $font-size-m
            padding-left: 3.5rem 
            background-color: $color-text-d 
        .hot-box
            display: flex
            align-items: center
            font-size: $font-size-m
            .hot-imag-box
                height 0
                padding-bottom: 7rem 
                margin: 1rem 0 1rem 1rem
                .hot-imag
                    width: 7rem
                    height 7rem
                    border-radius: 50%
            .hot-name
                flex-grow: 1
                padding-left: 2rem
                color: $color-text-d 
    
    .all
        width: 100%
        z-index: 999
        .box-item
            width: 100%
            .item-key
                height 3rem
                line-height: 3rem
                font-size: $font-size-m
                padding-left: 3.5rem 
                background-color: $color-text-d 
            .item-box
                display: flex
                align-items: center
                font-size: $font-size-m 
                .imag-box  
                    height 0
                    padding-bottom: 7rem 
                    margin: 1rem 0 1rem 1rem
                    .imag
                        width: 7rem
                        height 7rem
                        border-radius: 50%
                .name-box
                    flex-grow: 1
                    padding-left: 2rem
                    color: $color-text-d 
    .keylist
        background-color: $color-background-highlight
        padding: 1.5rem 0rem
        position: absolute
        right: 0
        top: 15rem     
        border-radius: 1.5rem     
        z-index 99
        .key
            line-height: 1.5rem
            padding: .2rem .1rem
            text-align: center
        .Changecolor
            color: $color-them-icon
    .fix-title
        position: absolute
        top: 0
        left 0
        right 0
        background-color: $color-background-dialog
        height 3rem
        line-height: 3rem
        font-size: $font-size-m
        padding-left: 3.5rem 
        
