@import '~stylus/variable.styl'

 .in-land
    position absolute
    top 12rem
    bottom 0
    left 0
    right 0
    overflow hidden 
    .inland-box
         display flex
         align-items center
         .inland-imag-box
             height 0
             padding-bottom: 7rem 
             margin: 1rem 0 1rem 1rem
             .inland-imag
                 width: 7rem
                 height 7rem
                 border-radius: 50%
        .inland-name
            flex-grow: 1
            padding-left: 2rem
            color: $color-text-d 
